<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Meme API</title>
    <meta name="description" content="A cool meme api">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        API Endpoints
      </h1>
    </header>

    <main>
      <ul>
        <li><a href="/dank">dank meme</a></li>
        <li><a href="/moderate">any meme</a></li>
        <li><a href="/normie">normie meme</a></li>
        <li><a href="/furry">furry meme</a></li>
        <li><a href="/it"><del>IT meme</del></a></li>
        <li><a href="/edgy">edgy meme</a></li>
        <li><a href="/wholesome">wholesome meme</a></li>
        <li><a href="/christian">christian meme</a></li>
        <li><a href="/art">art meme</a></li>
        <li><a href="/history">history meme</a></li>
        <li><a href="/anime">anime meme</a></li>
        <li><a href="/fourchan">4chan meme</a></li>
      </ul>
    </main>

    <footer>
        <span>Have Fun!! ;)</span>
    </footer>
  </body>
</html>